# We use Azure Artifacts as our npm repository/registry, but because it's private we need to authenticate.
# For making the authentication process as easy as posible Microsft has created a npm package named vsts-npm-auth.
# Install vsts-npm-auth package by running the command below, this will install the package globally on your machine.
#
#   npm install -g vsts-npm-auth --registry https://registry.npmjs.com --always-auth false
#
# Next, we need to authentication to the repository/registry, by running the command below. (Make sure you are in the folder where this file is located)
#
#   vsts-npm-auth -config .npmrc
#
# This will authenticate against our repository/registry.
#
# NOTE: You don't need to do this every time. npm will give you a 401 Unauthorized error when you need to run it again.
#
# And remember that you may need to temporarily need to enable running scripts using the POwerShell in Admin mode.
# Try running the scripts. If you get an error such as this "cannot be loaded because running scripts is disabled on this system"
# you wil need to change permissions as follows:
#
#   Set-ExecutionPolicy Bypass
#
#   ... run the scripts ...
#
#   Set-ExecutionPolicy Restricted
#
# The second set will return permissions as they were before.

registry=https://pkgs.dev.azure.com/hbkworld/_packaging/HBKWorld-NPM/npm/registry/



always-auth=true